# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*/migrations/

# Distribution / packaging
env/
build/
develop-eggs/
downloads/
lib/
var/

# pycharm .idea files
.idea/

# sqlite3 file
*.sqlite3


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# virtualenv
.venv
venv/

# mypy
.mypy_cache/
